.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.be-comment-block {
  margin-bottom: 50px !important;
  border-radius: 5px;
  padding: 50px 200px;
}

.comments-title {
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
  font-family: 'Conv_helveticaneuecyr-bold';
}



.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
  font-size: 15px;
}

.be-comment-name {
  font-size: 20px;
  font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
  color: #fff;
}

.be-comment-time {
  text-align: right;
  font-weight: 900;
}

.be-comment-time {
  font-size: 11px;
  color: #b4b7c1;
}

.be-comment-text {
  font-size: 16px;
  line-height: 18px;
  color: #6b8feb;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  border-radius: 10px;
  padding: 15px 20px 20px 20px;
  width: 75%;
}



.form-group .form-input {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: #b4b7c1;
  width: 75%;
  height: 50px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #edeff2;
  border-radius: 10px;
}

.form-group textarea.form-input {
  height: 100px;
}
.btn {
  color: #fff;
}