
<!DOCTYPE html>
<html lang="en">
  <head>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="d38b9462-4bcd-47b1-956a-a700e2eac5ae" data-blockingmode="auto" type="text/javascript"></script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content="D1ksJz46BzAgEXU3OCV5fwBbDg4uJ1YCalbOQKMxzC1rWdJ2ebW6Mhn7">

      <title>Login | Crime Watchers</title>


      <meta name="description" content="Login to edit existing, or add new, crime alerts." />

    <link rel="stylesheet" href="https://d2gd0no3pm9ozo.cloudfront.net/css/app-ef7a8d7ef698f801b7cab5b88db5e6e7.css?vsn=d"/>
    <link rel="apple-touch-icon" sizes="180x180" href="https://d2gd0no3pm9ozo.cloudfront.net/images/favicon/apple-touch-icon-92302c0642a8564d4a681dfbbf4c7e68.png?vsn=d" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://d2gd0no3pm9ozo.cloudfront.net/images/favicon/favicon-32x32-ee21f3b0fe50804b8c3839cbb3082215.png?vsn=d" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://d2gd0no3pm9ozo.cloudfront.net/images/favicon/favicon-16x16-e5df12cb88fc1e69deb8dbb6d86f938e.png?vsn=d" />
    <link rel="manifest" href="https://d2gd0no3pm9ozo.cloudfront.net/images/favicon/site-053100cb84a50d2ae7f5492f7dd7f25e.webmanifest?vsn=d" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H6H0H4RXJH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H6H0H4RXJH');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NDZBDW6');</script>
<!-- End Google Tag Manager -->

<!-- Hotjar Tracking Code for spotcrime.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1106191,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  </head>
  <body class="bg-gradient-primary">
    <div class="container">
<div class="notification-container">


</div>

<script src="https://www.google.com/recaptcha/api.js?render=6LckE6MZAAAAAL0S-j1ayPNZUofBR_iHXPZ6Wbtl"></script>
<div class="default-page-container">
<a class="auth-page__spotcrime-logo-container" href="/">
    <img src="https://d2gd0no3pm9ozo.cloudfront.net/images/spotcrime-logo-spotty-7fcec725c73df92b9b6acda3c2c799de.png?vsn=d" alt="SpotCrime logo" class="auth-page__spotcrime-logo">
</a>
  <div class="form-section">
    <h1 class="form-title">Login</h1>
    <span class="form-subtitle">Login with email or your social media account to create and manage alerts.</span>
<form action="/login" id="session-form" method="post"><input name="_csrf_token" type="hidden" value="D1ksJz46BzAgEXU3OCV5fwBbDg4uJ1YCalbOQKMxzC1rWdJ2ebW6Mhn7">
      <div class="form-group">
<label class="form-group-label" for="session-form_email">Email Address</label>
<input class="form-input-box" id="session-form_email" name="user[email]" required="required" type="email">

        <span id="user_email_error" class="default-input-error"></span>
      </div>
      <button class="g-recaptcha form-continue-btn"
        data-sitekey="6LckE6MZAAAAAL0S-j1ayPNZUofBR_iHXPZ6Wbtl"
        data-callback='onSubmit'
        data-action='sign_in'
      >
        <span class="form-continue-text">Next</span>
        <img src="https://d2gd0no3pm9ozo.cloudfront.net/images/chevron-thin-right-49b44bc02b1cdf214454c119fbc889a9.svg?vsn=d" alt="chevron arrow right" class="form-continue-icon">
      </button>
</form>
    <p class="auth-page__action-text">
      Don't have an account?
<a class="auth-page__action-link" href="/register"> Sign Up</a>
    </p>
    <p class="auth-page__site-protected-text">This site is protected by reCAPTCHA and the Google
<a class="auth-page__site-protected-link" href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">Privacy Policy</a>
      and
<a class="auth-page__site-protected-link" href="https://policies.google.com/terms" rel="noreferrer" target="_blank">Terms of Service</a>
      apply.</p>
  </div>
  <div class="auth-page__divider-section">
    <span class="auth-page__divider-text">or</span>
  </div>
  <div class="auth-page__third-party-auth-section">
<a class="auth-page__third-party-auth-btn" href="/auth/facebook">
      <div class="auth-page__third-party-auth-info">
        <img src="https://d2gd0no3pm9ozo.cloudfront.net/images/facebook-auth-79a41669b94605ff558c0936318bf3c7.svg?vsn=d" alt="Round Facebook logo" class="auth-page__third-party-auth-logo">
        <span class="auth-page__third-party-auth-text">Continue with Facebook</span>
      </div>
</a>
<a class="auth-page__third-party-auth-btn" href="/auth/google">
      <div class="auth-page__third-party-auth-info">
        <img src="https://d2gd0no3pm9ozo.cloudfront.net/images/google-auth-3de929f7ca2e0790af92a25a6b4cc039.svg?vsn=d" alt="Round Google logo" class="auth-page__third-party-auth-logo">
        <span class="auth-page__third-party-auth-text">Continue with Google</span>
      </div>
</a>
  </div>
  <div class="auth-page__divider-section">
  </div>
  <div>
<a class="footer-link" href="/terms">Terms of Use</a>
    |
<a class="footer-link" href="/privacy#notice_at_collection">Privacy Policy</a>
  </div>
</div>
<script>
  function onSubmit(token) {
    const form = document.getElementById("session-form")
    if(form.checkValidity()) {
      form.submit();
    } else {
      const userEmailError = document.getElementById('user_email').validationMessage
      $('#user_email_error').text(userEmailError)
    }
  }
</script>

    </div>

    <script type="text/javascript" src="https://d2gd0no3pm9ozo.cloudfront.net/js/app-a1717cc168674772957fdd1532f1fdd2.js?vsn=d"></script>
  </body>
</html>